*{
    padding: 0px;
    margin: -1px;
    box-sizing: border-box;
    
}
.container-fluid{
    width: 100%;
    padding-right: 2px;
    margin-left: 1px;
}

.intro{
	background: #EAF0F1;
    width: 100%;
    position: relative;
    padding-right: 63px;
    padding-left: 10px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-right: -15px;
    padding: 10px;
}
.py1{
    padding-bottom: .25rem!important;
    
}
.py1{
    padding-top: .25rem!important;
}
.col-md{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.img-fluid{
   
    height: 262px;
    margin-left: 126px;
    
}
img{
    vertical-align: middle;
    border-style: none;
    height: 261px;
    width: 302px;
}
.text-center{
    text-align: center!important;
    padding: 90px;
}
.my-6{
    margin-bottom: .3rem!important;
    margin-top: .3rem!important;
}
h1{
	color: #4C4B4B;
	font-weight: bold;
	transition: 0.5s;
	cursor: pointer!important;
    font-size: 37px;
}
h3{
    
	color:#2F363F;
    font-size: 30px;
}
button{
	border:none;
	border-radius: 8px;
	padding: 10px;
	background: #3598db; 
	color:white;
	letter-spacing: 1.5px;
	font-size: 15px;
	transition: 0.5s;
  
}
button:hover,h1:hover{
	transform: scale(1.1);
}
button:hover{
	background-color:#032529;
}
footer{
    font-size: 10px;
	color:#586776;
	background-color:#EAF0F1;
	letter-spacing: 2.6px;
    padding-top: 8px;
}
footer p{
	margin: 0;
	font-size: 15px;
}
.foot{
    text-align: center;
    font-size: 10px;  
}
.feet{
    padding: 0px;
    margin-right: -16px;
    margin-left: -9px;
}
.bb{
   
    margin-left: 197px;
}
.col{
    margin-right: -8px;
    margin-left: 62pxs;
}